<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>修改手机号码</title>
    <script src="../../_assets/js/flexible.min.js"></script>
    <script src="../../_assets/js/fastclick.js"></script>
    <script src="../../_assets/js/base.js"></script>
    <script src="../../_assets/js/vue.min.js"></script>
    <script src="../../_assets/js/vant.js"></script>
    <link rel="stylesheet" href="../../_assets/css/vant.css">
    <link rel="stylesheet" href="../../_assets/css/base.css">
    <link rel="stylesheet" href="../../_assets/css/icon.css">
</head>
<body>
    <div id="app">
        <div class="card-form page-form">
            <van-form @submit="onSubmit">

                <van-field
                    v-model="pageForm.mobile"
                    label="手机号码"
                    placeholder="请输入"
                    :rules="[{ required: true, message: '请输入' }]">
                </van-field>

                <van-field
                    v-model="pageForm.code"
                    label="验证码"
                    :rules="[{ required: true, message: '请输入' }]">
                    <template #input>
                        <input type="text" class="van-field__control" v-model="pageForm.code" placeholder="请输入" />
                        <button class="btn btn-code">获取验证码</button>
                    </template>
                </van-field>

                <div class="btns">
                    <button class="btn btn-warning btn-large btn-long">保存</button>
                </div>
                </van-form>
        </div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            pageForm: {
                password: '',
                newPassword: '',
                conformPassword: ''
            }
        },
        methods: {
            onSubmit(values) {
                this.$toast('修改成功')
                setTimeout(()=>{
                    window.history.go(-1)
                },500)
            },
        },
    })
</script>
</html>