<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>文旅资讯</title>
    <script src="../_assets/js/flexible.min.js"></script>
    <script src="../_assets/js/fastclick.js"></script>
    <script src="../_assets/js/base.js"></script>
    <script src="../_assets/js/vue.min.js"></script>
    <script src="../_assets/js/vant.js"></script>
    <script src="../_assets/js/components.js"></script>
    <link rel="stylesheet" href="../_assets/css/vant.css">
    <link rel="stylesheet" href="../_assets/css/base.css">
    <link rel="stylesheet" href="../_assets/css/icon.css">
</head>
<body>
    <div id="app">
        <div class="page-gapper page-md-bg">
            <!-- _assets/js/components.js -->
            <header-search @enter="search"></header-search>
            <div class="page-tabs">
                <div class="item item-active">
                    全部
                </div>
                <div class="item">
                    文旅动态
                </div>
                <div class="item">
                    相关政策
                </div>
                <div class="item">
                    热点新闻
                </div>
                <div class="item">
                    热点新闻
                </div>
            </div>
            <div class="base-list base-page-list">
                <van-list
                    v-model="loading"
                    :finished="finished"
                    :finished-text="null"
                    @load="onLoad"
                    >
                    <a href="detail.html" class="item" v-for="item in list" :key="item">
                        <div class="img">
                            <img :src="item.src" alt="" />
                        </div>
                        <div class="wrapper">
                            <div class="title title-line-2">
                                {{ item.title }}
                            </div>
                            <div class="sub">
                                {{ item.date }}
                            </div>
                        </div>
                    </a>
                </van-list>
            </div>
        </div>
        <div class="loading-over" v-show="finished">
            已经全部加载完毕
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                list: [], // 列表
                loading: false, // 是否加载中
                finished: false, // 加载完成
            },
            methods: {
                // 去搜索
                search(keyword) {
                    console.log(keyword)
                },
                onLoad() {
                    // 异步更新数据
                    // setTimeout 仅做示例，真实场景中一般为 ajax 请求
                    setTimeout(() => {
                        for (let i = 0; i < 10; i++) {
                            this.list.push({
                                src: '../_assets/images/100.png',
                                title: '文旅资讯活动新闻发布会文旅资讯文旅资讯活动',
                                date: '2020-08-09 10:09:01'
                            });
                            this.list.push({
                                src: '../_assets/images/101.png',
                                title: '文旅资讯活动新闻发布会文旅资讯文旅资讯活动',
                                date: '2020-08-09 10:09:01'
                            })
                        }

                        // 加载状态结束
                        this.loading = false;
                        // 数据全部加载完成
                        if (this.list.length >= 40) {
                        this.finished = true;
                        }
                    }, 500);
                },
            },
        })
    </script>
</body>
</html>