/* font icon */
html {
  background-color: #eee;
}
body {
  color: #000;
  background-color: #eee;
  font-size: 0.32rem !important;
  line-height: 1.7;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}
a {
  color: #000;
}
* {
  box-sizing: border-box;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
a.item:active {
  background-color: #f8f8f8;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.mt5 {
  margin-top: 0.133333rem;
}
.mt10 {
  margin-top: 0.266667rem;
}
.mt15 {
  margin-top: 0.4rem;
}
.mt20 {
  margin-top: 0.533333rem;
}
.mb5 {
  margin-bottom: 0.133333rem;
}
.mb10 {
  margin-bottom: 0.266667rem;
}
.mb15 {
  margin-bottom: 0.4rem;
}
.mb20 {
  margin-bottom: 0.533333rem;
}
.wimg {
  width: 100%;
}
.hidden {
  display: none;
}
.max-img {
  width: 100%;
  display: block;
  font-size: 0;
}
.text-sub {
  color: #999;
}
.text-primary {
  color: #158A7E;
}
.text-green {
  color: #2DB553;
}
.text-danger {
  color: #FB1818;
}
.text-highlight {
  color: #ffab00;
  font-weight: bold;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
::-webkit-input-placeholder {
  color: #999 !important;
}
.page-gapper {
  padding: 0 0.426667rem;
}
.index-bg {
  height: 4rem;
}
.index-bg .bg {
  background: linear-gradient(180deg, #158A7E 0%, #FFFFFF 100%);
  position: absolute;
  height: 4rem;
  width: 100%;
  top: 0;
}
.index-md {
  position: relative;
  z-index: 2;
}
.index-md .home-swiper {
  margin-top: 0.533333rem;
  padding: 0 0.426667rem 0.426667rem;
}
.index-md .home-swiper .van-swipe__indicators {
  bottom: 0.266667rem;
}
.index-md .home-swiper .wrapper .title {
  position: absolute;
  color: #fff;
  font-weight: bold;
  font-size: 0.533333rem;
  line-height: 0.8rem;
  height: 0.8rem;
  overflow: hidden;
  bottom: 0.52rem;
  width: 100%;
  padding: 0 0.426667rem;
}
.index-md .home-swiper .wrapper img {
  width: 100%;
  height: 4rem;
  border-radius: 0.16rem;
  display: block;
  font-size: 0;
}
.index-md .home-swiper .van-swipe__indicator {
  width: 0.213333rem;
  height: 0.106667rem;
  opacity: 1;
  border-radius: 0.133333rem;
  transition: 0.3s width;
}
.index-md .home-swiper .van-swipe__indicator--active {
  width: 0.453333rem;
}
.index-md .home-header {
  margin-top: -4rem;
  position: relative;
  z-index: 2;
  padding-top: 0.373333rem;
}
.index-md .home-header .input-wrapper {
  font-size: 0.373333rem;
  position: relative;
  z-index: 1;
  margin: 0 0.72rem;
}
.index-md .home-header .input-wrapper .icon-search {
  position: absolute;
  left: 0.333333rem;
  top: 0.226667rem;
}
.index-md .home-header .input-wrapper .icon-clear {
  position: absolute;
  right: 0.333333rem;
  top: 0.226667rem;
}
.index-md .home-header .input-wrapper input {
  background: #FFFFFF;
  border-radius: 0.666667rem;
  width: 100%;
  height: 0.853333rem;
  line-height: 0.853333rem;
  border: none;
  padding: 0 0.88rem;
}
.index-md .home-guide {
  margin-bottom: 0.2rem;
  overflow: hidden;
}
.index-md .home-guide a {
  width: 20%;
  margin-bottom: 0.346667rem;
  float: left;
  display: block;
  text-align: center;
  line-height: 1;
}
.index-md .home-guide a span {
  display: block;
  margin: 0 auto;
}
.base-title {
  font-size: 0.48rem;
  padding: 0.3rem 0;
  color: #666666;
  font-weight: bold;
}
.base-title .more {
  border: 1px solid #CCCCCC;
  border-radius: 0.32rem;
  display: block;
  float: right;
  font-size: 0.32rem;
  color: #999;
  padding: 0.05rem 0.32rem;
  font-weight: normal;
  line-height: 1.5;
}
.base-list .item {
  display: flex;
  margin-bottom: 0.426667rem;
}
.base-list .item .title {
  font-size: 0.373333rem;
  line-height: 0.533333rem;
  height: 0.533333rem;
  overflow: hidden;
}
.base-list .item .title-line-2 {
  height: 1.066667rem;
}
.base-list .item .sub {
  margin-top: 0.533333rem;
  color: #999;
}
.base-list .item .text {
  color: #999;
  margin-top: 0.1rem;
  height: 1.066667rem;
  line-height: 0.533333rem;
}
.base-list .item .img {
  width: 3.093333rem;
}
.base-list .item .img img {
  width: 3.093333rem;
}
.base-list .item .wrapper {
  padding-left: 0.213333rem;
  flex: 1;
}
.base-img-list {
  height: 3.866667rem;
  margin-bottom: 0.426667rem;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  display: flex;
  margin-right: -0.426667rem;
}
.base-img-list .temp-item {
  content: ' ';
  width: 0.426667rem;
  height: 3.866667rem;
}
.base-img-list .item {
  position: relative;
  width: 3.866667rem;
  height: 3.866667rem;
  margin-right: 0.32rem;
  line-height: 0.64rem;
  color: #fff;
}
.base-img-list .item img {
  width: 3.866667rem;
  height: 3.866667rem;
}
.base-img-list .item .tag {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.32rem;
  padding: 0 0.266667rem;
  position: absolute;
  top: 0.266667rem;
  left: 0.266667rem;
}
.base-img-list .item .title {
  left: 0.32rem;
  bottom: 0.32rem;
  right: 0.32rem;
  font-weight: bold;
  overflow: hidden;
  height: 0.64rem;
  position: absolute;
  font-size: 0.373333rem;
}
.tabs {
  padding-bottom: 0.266667rem;
}
.tabs .item {
  display: inline-block;
  height: 0.64rem;
  line-height: 0.64rem;
  border-radius: 0.64rem;
  background: linear-gradient(316.74deg, #59C228 17.99%, #9CEC36 79.92%);
  margin-right: 0.266667rem;
  color: #fff;
  font-weight: bold;
  min-width: 1.76rem;
  text-align: center;
  vertical-align: top;
}
.tabs .item.active {
  position: relative;
  background: linear-gradient(316.74deg, #1787EE 17.99%, #6CCAFF 79.92%);
}
.tabs .item.active::after {
  content: " ";
  margin-left: -0.14rem;
  position: absolute;
  left: 50%;
  bottom: -0.12rem;
  width: 0;
  height: 0;
  border-bottom: 0.3rem solid #2d98f2;
  border-left: 0.3rem solid transparent;
  transform: rotate(45deg);
}
.tab-headers {
  height: 1.226667rem;
  line-height: 1.226667rem;
}
.tab-headers .item {
  width: 25%;
  float: left;
  text-align: center;
  position: relative;
  color: #666;
}
.tab-headers .item.active {
  color: #000;
  font-weight: bold;
}
.tab-headers .item.active::after {
  position: absolute;
  width: 1.253333rem;
  height: 0.08rem;
  bottom: 0.213333rem;
  left: 50%;
  margin-left: -0.613333rem;
  content: " ";
  background: #F36A1C;
}
.base-list-2 {
  margin: 0 -0.426667rem;
}
.base-list-2 .van-swipe {
  padding-bottom: 0.44rem;
}
.base-list-2 .van-swipe__indicator {
  opacity: 1;
  background-color: #ccc;
  width: 0.213333rem;
  height: 0.213333rem;
}
.base-list-2 .van-swipe__indicator:not(:last-child) {
  margin-right: 0.266667rem;
}
.base-list-2 .van-swipe__indicator--active {
  background-color: #36B37E !important;
}
.base-list-2 .wrapper {
  padding: 0.373333rem;
}
.base-list-2 .item {
  display: flex;
  box-shadow: 0 0.053333rem 0.16rem rgba(0, 0, 0, 0.1);
  border-radius: 0.16rem;
  padding: 0.373333rem;
}
.base-list-2 .item .img {
  width: 3.093333rem;
  height: 4.266667rem;
  position: relative;
}
.base-list-2 .item .img img {
  width: 3.093333rem;
  height: 4.266667rem;
  border-radius: 0.106667rem;
}
.base-list-2 .item .img .tag {
  background: #FFAB00;
  border-radius: 0.106667rem 0;
  position: absolute;
  left: 0 ;
  top: 0;
  color: #fff;
  padding: 0.08rem 0.266667rem;
}
.base-list-2 .item .img .title {
  position: absolute;
  bottom: 0.2rem;
  left: 0.3rem;
  font-weight: bold;
  font-size: 0.48rem;
  line-height: 1.5;
  color: #fff;
}
.base-list-2 .item .info {
  padding-left: 0.426667rem;
  flex: 1;
}
.base-list-2 .item .info .title {
  max-height: 1.066667rem;
  line-height: 0.533333rem;
  overflow: hidden;
}
.base-list-2 .item .info .text {
  margin-top: 0.426667rem;
  color: #999;
}
.index-search-md .history {
  margin-top: 0.266667rem;
}
.index-search-md .history .title {
  font-size: 0.373333rem;
  color: #000;
}
.index-search-md .history .list {
  overflow: hidden;
}
.index-search-md .history .list .item {
  padding: 0.133333rem 0.4rem;
  background: #EEEEEE;
  border-radius: 0.4rem;
  margin: 0.426667rem 0.426667rem 0 0;
  float: left;
  max-width: 4.986667rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999;
}
.index-search-md .empty {
  color: #999;
  text-align: center;
  padding-top: 3.2rem;
}
.index-search-md .empty div {
  margin-top: 0.8rem;
}
.index-search-md .result .total {
  padding: 0.266667rem 0.426667rem;
  padding-top: 0.133333rem;
  color: #999;
  font-size: 0.373333rem;
}
.index-search-md .search-list .item {
  display: flex;
  border-top: 1px solid #DDDDDD;
  padding: 0.266667rem 0.426667rem;
}
.index-search-md .search-list .item .img {
  margin-right: 0.266667rem;
  width: 1.813333rem;
}
.index-search-md .search-list .item .img img {
  width: 1.813333rem;
  height: 1.813333rem;
}
.index-search-md .search-list .item .info .title {
  font-size: 0.373333rem;
  max-height: 1.12rem;
  line-height: 0.56rem;
  overflow: hidden;
}
.index-search-md .search-list .item .info .sub {
  margin-top: 0.213333rem;
  color: #999;
}
.page-search-md {
  padding: 0.32rem 0;
}
.page-search-md .input-wrapper {
  font-size: 0.373333rem;
  position: relative;
  z-index: 1;
}
.page-search-md .input-wrapper .icon-search {
  position: absolute;
  left: 0.333333rem;
  top: 0.226667rem;
}
.page-search-md .input-wrapper .icon-clear {
  position: absolute;
  right: 0.333333rem;
  top: 0.226667rem;
}
.page-search-md .input-wrapper input {
  background: #eee;
  border-radius: 0.16rem;
  width: 100%;
  height: 0.853333rem;
  line-height: 0.853333rem;
  border: none;
  padding: 0 0.88rem;
  color: #999;
}
.page-tabs {
  padding: 0.213333rem 0;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  display: flex;
  margin-right: -0.426667rem;
}
.page-tabs .item {
  min-width: 2rem;
  height: 0.8rem;
  line-height: 0.8rem;
  padding: 0 0.3rem;
  background-color: #eee;
  display: inline-block;
  text-align: center;
  border-radius: 0.4rem;
}
.page-tabs .item-active {
  background: linear-gradient(0deg, #2C91ED 12.5%, #63ABFF 87.5%);
  color: #fff;
}
.page-tabs .item:not(:last-child) {
  margin-right: 0.266667rem;
}
.base-page-list .item {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.266667rem 0;
}
.base-page-list .item .img {
  width: 2.666667rem;
  height: 1.76rem;
  margin-right: 0.1rem;
}
.base-page-list .item .img img {
  width: 2.666667rem;
}
.base-page-list .item .sub {
  margin-top: 0.2rem;
}
.btn {
  border: 1px solid #999;
  border-radius: 0.106667rem;
  height: 0.8rem;
  line-height: 1;
  text-align: center;
  min-width: 2.666667rem;
  padding: 0 0.266667rem;
  background-color: #fff;
  color: #999;
  font-size: 0.32rem;
}
.btn-primary {
  background: linear-gradient(180deg, #0C9A89 0%, #108276 100%);
  color: #fff;
}
.btn-warning {
  border: none;
  background: linear-gradient(180deg, #FF881A 0%, #F36A1C 100%);
  color: #fff;
}
.btn-large {
  height: 1.066667rem;
  border-width: 0.04rem;
  font-size: 0.373333rem;
  min-width: 3.733333rem;
}
.btn-disabled {
  background: #ccc;
  border-color: #ccc;
  color: #fff;
}
.btn-long {
  width: 100%;
}
.page-tag {
  color: #158A7E;
  padding: 0.106667rem 0.213333rem;
  background: #D9F1EF;
}
.master-list .item {
  width: 33.3333%;
  padding: 0 0.4rem 0.4rem;
  float: left;
  display: block;
  text-align: center;
}
.master-list .item img {
  width: 2.133333rem;
  height: 2.133333rem;
  border-radius: 50%;
}
.master-list .item .name {
  font-size: 0.373333rem;
}
.master-list .item .sub {
  color: #999;
}
.page-md-bg {
  background-color: #fff;
}
.loading-over {
  margin: 0.533333rem 0;
  color: #999;
  text-align: center;
  position: relative;
}
.loading-over::before,
.loading-over::after {
  background-color: #ddd;
  height: 1px;
  width: 2.613333rem;
  position: absolute;
  top: 50%;
  left: 0.72rem;
  content: ' ';
}
.loading-over::after {
  left: auto;
  right: 0.72rem;
}
.page-detail .title {
  font-size: 0.48rem;
  padding: 0.4rem 0 0.266667rem;
  font-weight: bold;
}
.page-detail .sub-title {
  margin-bottom: 0.4rem;
}
.page-detail .sub-title .sub {
  color: #999;
  text-align: right;
}
.page-detail .sub-title .pull-right {
  text-align: right;
}
.page-detail .sub-title .primary {
  color: #2DB553;
}
.page-detail .sub-title .tag {
  font-size: 0.373333rem;
}
.page-detail .sub-title .tag-active {
  font-size: 0.373333rem;
  font-weight: bold;
  color: #F36A1C;
}
.page-detail .title-img img {
  display: block;
  font-size: 0;
  width: 100%;
}
.page-table-cell {
  padding: 0.426667rem 0;
  margin-bottom: 0.4rem;
}
.page-table-cell.border {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.page-table-cell.border-top-none {
  border-top: none;
}
.page-table-cell.border-dashed {
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
}
.page-table-cell .cell {
  display: flex;
  justify-items: start;
}
.page-table-cell .cell .label span {
  background: #FFF1DD;
  border-radius: 0.106667rem;
  color: #CB8755;
  padding: 0.08rem 0.133333rem;
  display: inline-block;
  text-align: center;
  min-width: 2rem;
}
.page-table-cell .cell .label .auto-width {
  min-width: auto;
}
.page-table-cell .cell .value {
  padding-top: 0.08rem;
  padding-left: 0.266667rem;
  flex: 1;
}
.page-table-cell .cell:not(:last-child) {
  margin-bottom: 0.266667rem;
}
.page-table-cell .primary {
  color: #2DB553;
}
.page-table-cell-sub .cell .label span {
  background-color: transparent;
  color: #999;
}
.editor {
  padding-bottom: 0.533333rem;
  line-height: 1.8;
  font-size: 0.373333rem;
}
.editor p {
  margin-bottom: 0.533333rem;
}
.editor img {
  max-width: 100%;
}
.share-bar {
  padding: 0.48rem 0;
  text-align: right;
  font-size: 0.373333rem;
  color: #666;
}
.share-bar .item {
  display: inline-block;
  vertical-align: middle;
}
.share-bar .item:not(:last-child) {
  margin-right: 0.266667rem;
}
.page-title {
  padding: 0.27rem 0.426667rem;
  padding-left: 0.746667rem;
  font-size: 0.373333rem;
  font-weight: bold;
  position: relative;
}
.page-title::before {
  content: ' ';
  background-color: #F36A1C;
  width: 0.106667rem;
  position: absolute;
  height: 0.373333rem;
  top: 0.4rem;
  left: 0.426667rem;
}
.comment-list .item {
  padding-top: 0.32rem;
  display: flex;
}
.comment-list .item .avatar {
  margin-right: 0.186667rem;
  width: 0.8rem;
  height: 0.8rem;
}
.comment-list .item .avatar img {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}
.comment-list .item .text {
  font-size: 0.373333rem;
  padding: 0.186667rem 0 0.4rem 0;
}
.comment-list .item .img-list {
  padding-bottom: 0.4rem;
}
.comment-list .item .img-list .img {
  float: left;
  width: 2.666667rem;
  height: 2.666667rem;
  margin-right: 0.08rem;
  margin-bottom: 0.08rem;
}
.comment-list .item .img-list .img img {
  border-radius: 0.106667rem;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 0;
}
.comment-list .item .img-list .img:nth-child(3n) {
  margin-right: 0;
}
.comment-list .item .img-list .more {
  position: relative;
}
.comment-list .item .img-list .more .shadow {
  position: absolute;
  width: 2.666667rem;
  height: 2.666667rem;
  background: rgba(0, 0, 0, 0.5);
  line-height: 2.666667rem;
  text-align: center;
  color: #fff;
  font-size: 0.64rem;
  border-radius: 0.106667rem;
}
.comment-list .item .info {
  margin-top: 0.133333rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.32rem;
  flex: 1;
}
.comment-list .item .info .name {
  color: #666;
}
.comment-list .item .info .date {
  color: #999;
}
.comment-list .item .info .bottom {
  text-align: right;
  color: #999;
}
.comment-list .item .info .bottom .icon {
  vertical-align: bottom;
}
.comment-list .item .sub-title {
  font-size: 0.373333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.more-list {
  text-align: center;
  padding: 0.266667rem 0;
}
.more-list a {
  color: #168FFE;
}
.relation-list .item {
  margin: 0;
  padding: 0.266667rem 0;
}
.relation-list .item .img {
  width: 2.666667rem;
  height: 1.76rem;
}
.relation-list .item .img img {
  width: 2.666667rem;
  height: 1.76rem;
}
.relation-list .item .sub {
  margin-top: 0.133333rem;
}
.fiexd-bottom .height {
  height: 1.733333rem;
}
.fiexd-bottom .wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.213333rem 0.32rem;
  border-top: 1px solid #ddd;
  background-color: #fff;
}
.base-activity-list a {
  display: block;
}
.base-activity-list .item {
  padding: 0.213333rem 0 0.48rem;
  position: relative;
}
.base-activity-list .tag {
  position: absolute;
  left: 0;
  top: 0.213333rem;
  padding: 0.053333rem 0.32rem;
  background-color: #ddd;
  color: #999;
  border-radius: 0.16rem 0 0.16rem;
  color: #666666;
  background: #DDDDDD;
}
.base-activity-list .tag-active {
  background: linear-gradient(180deg, #FF881A 0%, #F36A1C 100%);
  color: #fff;
  font-weight: bold;
}
.base-activity-list .img img {
  width: 100%;
  border-radius: 0.16rem;
}
.base-activity-list .title {
  margin: 0.266667rem 0;
  font-weight: bold;
  font-size: 0.373333rem;
  line-height: 0.533333rem;
}
.base-activity-list .clearfix {
  line-height: 0.533333rem;
}
.base-activity-list .clearfix .icon {
  vertical-align: top;
}
.base-activity-list .sub {
  color: #999;
}
.base-activity-list .primary {
  color: #2DB553;
}
.page-card {
  position: relative;
  min-height: 2.133333rem;
  padding-top: 0.8rem;
}
.page-card .card-bg {
  position: absolute;
  background-color: #158A7E;
  height: 2.133333rem;
  left: 0;
  top: 0;
  width: 100%;
}
.page-card .card-wrapper {
  margin: 0 0.426667rem;
  padding: 0.32rem 0.426667rem;
  position: relative;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 0.16rem 0.213333rem rgba(0, 0, 0, 0.1);
  border-radius: 0.106667rem;
}
.page-card .card-wrapper .relation-list .item {
  padding: 0;
}
.page-card .success,
.page-card .fail {
  text-align: center;
  font-size: 0.48rem;
  font-weight: bold;
  color: #2DB553;
  padding-bottom: 1.066667rem;
}
.page-card .success .icon,
.page-card .fail .icon {
  display: block;
  margin: 0.666667rem auto 0.266667rem;
}
.page-card .fail {
  color: #FB1818;
}
.page-card-feekback .card-bg {
  position: absolute;
  background: linear-gradient(0deg, #53B824 12.5%, #81D219 88.33%);
  height: 3.733333rem;
  left: 0;
  top: 0;
  width: 100%;
}
.page-card-feekback .feekback-header {
  padding: 0 0.426667rem;
  color: #fff;
  position: relative;
  z-index: 2;
  margin-bottom: 0.533333rem;
}
.page-card-feekback .feekback-header a {
  color: #fff;
  display: block;
  border: 1px solid #F5F5F5;
  border-radius: 0.4rem;
  padding: 0.133333rem 0.266667rem;
}
.page-card-feekback .feekback-header .title {
  font-weight: bold;
  font-size: 0.64rem;
}
.base-cell-list {
  font-size: 0.373333rem;
}
.base-cell-list .item {
  margin-bottom: 0.32rem;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0.48rem 0.426667rem;
  border-bottom: 1px solid #ddd;
}
.base-cell-list .item .label {
  color: #999;
}
.base-cell-list .item .value {
  flex: 1;
  text-align: right;
}
.base-cell-list .item .text {
  max-width: 4.8rem;
  display: inline-block;
}
.base-cell-list .icon-arrow-right {
  margin-top: 0.08rem;
  margin-left: 0.426667rem;
  vertical-align: top;
}
.base-cell-list .avatar {
  width: 1.066667rem;
  height: 1.066667rem;
  border-radius: 50%;
  vertical-align: middle;
}
.point-md .point-header {
  height: 3.733333rem;
  background: linear-gradient(270deg, #F25613 11.2%, #FF8731 83.47%);
  color: #fff;
  text-align: center;
  padding-top: 0.4rem;
}
.point-md .point-header span {
  font-weight: bold;
  font-size: 1.28rem;
}
.point-md .cate {
  padding: 0.16rem 0.426667rem;
  font-weight: bold;
  font-size: 0.373333rem;
  color: #999;
}
.point-md .point-list .item {
  border-top: 1px solid #ddd;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0.266667rem 0.426667rem;
}
.point-md .point-list .item .info {
  flex: 1;
}
.point-md .point-list .item .info .text {
  font-size: 0.373333rem;
}
.point-md .point-list .item .info .date {
  color: #999;
}
.point-md .point-list .count {
  min-width: 2.133333rem;
  padding: 0 0.32rem;
  text-align: right;
  font-weight: bold;
  font-size: 0.48rem;
}
.base-large-list .item {
  margin-bottom: 0;
  padding: 0.32rem 0;
}
.base-large-list .item .img {
  width: 3.2rem;
}
.base-large-list .item .img img {
  width: 3.2rem;
}
.base-large-list .item .sub {
  margin-top: 0.213333rem;
}
.base-large-list .item .wrapper {
  padding-left: 0.32rem;
}
.full-img-title {
  position: relative;
}
.full-img-title img {
  width: 100%;
  display: block;
  font-size: 0;
}
.full-img-title .shadow {
  height: 3.2rem;
  background: linear-gradient(180deg, #FF881A 0%, #F36A1C 100%);
}
.full-img-title .shadow-blue {
  height: 3.2rem;
  background: linear-gradient(0deg, #2C91ED 12.5%, #63ABFF 87.5%);
}
.full-img-title .shadow-green {
  height: 3.2rem;
  background: linear-gradient(0deg, #53B824 12.5%, #81D219 88.33%);
}
.full-img-title .shadow-cyan {
  height: 3.2rem;
  background: linear-gradient(180deg, #49C2A5 0%, #0C8D80 100%);
}
.full-img-title .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-weight: bold;
  font-size: 0.64rem;
  padding-left: 0.8rem;
  z-index: 1;
}
.survery-md .survery-header {
  background: linear-gradient(270deg, #1279D9 9.6%, #06A5FF 88.8%);
  min-height: 3.2rem;
  color: #fff;
  padding: 0 0.533333rem;
}
.survery-md .survery-header .title {
  font-size: 0.48rem;
  text-align: center;
  font-weight: bold;
  padding-top: 0.8rem;
  padding-bottom: 0.533333rem;
}
.survery-md .survery-header .desc {
  padding-bottom: 1.866667rem;
  font-size: 0.373333rem;
}
.survery-md .survery-page-card {
  padding-top: 0;
  margin-top: -1.066667rem;
}
.survery-md .survery-card-form .van-field__label {
  font-weight: bold;
}
.card-form .van-radio {
  align-items: flex-start;
  padding: 0.266667rem 0;
}
.card-form .van-radio .van-radio__icon .van-icon {
  border: 1px solid rgba(33, 33, 33, 0.3);
  width: 0.533333rem;
  height: 0.533333rem;
  border-radius: 50%;
  transition-duration: 0s;
}
.card-form .van-radio .van-radio__icon--checked .van-icon {
  background-color: #158A7E;
  border: none;
}
.card-form .van-radio .van-radio__icon--checked .van-icon::before {
  margin: 0.106667rem 0 0;
  content: ' ';
  background-color: #fff;
  width: 0.32rem;
  height: 0.32rem;
  vertical-align: top;
  border-radius: 50%;
}
.card-form .van-cell {
  padding: 0;
  padding-bottom: 0.64rem;
  display: block;
  font-size: 0.373333rem;
}
.card-form .van-cell .van-field__label {
  width: auto;
  margin-right: 0;
  margin-bottom: 0.133333rem;
}
.card-form .van-cell::after {
  border-bottom: none;
}
.card-form .van-cell input.van-field__control,
.card-form .van-cell textarea.van-field__control {
  padding: 0.133333rem 0.213333rem;
  border: 1px solid #999999;
  border-radius: 0.106667rem;
  background: none;
  line-height: 1.75;
}
.card-form .van-cell textarea.van-field__control {
  line-height: inherit;
}
.card-form .van-field__error-message {
  font-size: 0.373333rem;
}
.card-form .van-field__word-limit {
  position: relative;
  height: 0.693333rem;
  line-height: 0.48rem;
  color: #999;
  margin-top: -0.693333rem;
  margin-right: 0.213333rem;
}
.card-form .upload-md {
  background: #FFFFFF;
  border: 1px dashed #CCCCCC;
  box-sizing: border-box;
  border-radius: 0.106667rem;
  width: 2.133333rem;
  height: 2.133333rem;
  margin: 0 0.32rem 0 0;
  text-align: center;
  color: #999;
  font-size: 0.32rem !important;
  padding-top: 0.4rem;
}
.card-form .van-field-upload .van-uploader__preview {
  margin: 0 0.32rem 0 0;
}
.card-form .van-field-upload .van-field__control--custom {
  align-items: flex-start;
}
.card-form .van-field-upload .text-sub {
  font-size: 0.32rem !important;
  line-height: 1.5;
}
.card-form .btns-pager {
  display: flex;
  text-align: center;
}
.card-form .btns-pager .current {
  flex: 1;
  line-height: 1.066667rem;
}
.card-form .btns-pager .btn {
  min-width: 2.666667rem;
}
.card-form .label-list .item {
  display: inline-block;
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 0.106667rem;
  text-align: center;
  color: #999;
  min-width: 2.4rem;
  padding: 0.133333rem 0.266667rem;
  margin: 0 0.266667rem 0.266667rem 0;
}
.card-form .label-list .item.active {
  border: 1px solid #158A7E;
  color: #158A7E;
}
.van-uploader .van-uploader__preview-delete {
  width: 0.48rem;
  height: 0.48rem;
  top: -0.186667rem;
  right: -0.186667rem;
  line-height: 0.48rem;
  border-radius: 0.24rem;
}
.van-uploader .van-uploader__preview-delete .van-uploader__preview-delete-icon {
  font-size: 0.586667rem;
}
.van-uploader .van-uploader__preview-image {
  overflow: inherit;
}
.van-uploader .van-uploader__preview-image img {
  border-radius: 0.106667rem;
}
.van-image-preview__overlay {
  background-color: #000000 !important;
}
.van-image-preview .van-image-preview__index {
  padding: 0 0.426667rem;
  top: auto;
  font-size: 0.373333rem;
  background: #333333;
  border-radius: 0.4rem;
  height: 0.8rem;
  line-height: 0.8rem;
  bottom: 0.533333rem;
}
.van-dialog__confirm,
.van-dialog__confirm:active {
  color: #158A7E;
}
.page-swiper img {
  width: 100%;
  font-size: 0;
  display: block;
}
.brand-md .brand-index-list .item {
  margin-top: 0.426667rem;
  display: block;
}
.brand-md .brand-index-list .item .img img {
  display: block;
  font-size: 0;
  width: 100%;
  border-radius: 0.16rem 0.16rem 0 0;
}
.brand-md .brand-index-list .item .title {
  font-weight: bold;
  font-size: 0.373333rem;
  padding: 0.4rem 0.346667rem;
  background-color: #fff;
  border-radius: 0 0 0.16rem 0.16rem;
}
.img-card-list {
  overflow: hidden;
}
.img-card-list .item {
  position: relative;
  width: 50%;
  height: 3.2rem;
  line-height: 0.64rem;
  color: #fff;
  display: block;
  float: left;
  margin-bottom: 0.32rem;
}
.img-card-list .item img {
  max-height: 3.2rem;
  width: 100%;
}
.img-card-list .item .title {
  left: 0.32rem;
  bottom: 0.32rem;
  right: 0.32rem;
  font-weight: bold;
  overflow: hidden;
  height: 0.64rem;
  position: absolute;
  font-size: 0.373333rem;
}
.img-card-list .item:nth-child(odd) {
  padding-left: 0.213333rem;
}
.img-card-list .item:nth-child(even) {
  padding-right: 0.213333rem;
}
.img-card-list .item:first-child {
  width: 100%;
  padding-left: 0;
}
.catalogue-md .dir {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 1.466667rem;
  background-color: #fff;
  overflow-y: auto;
  width: 2.48rem;
}
.catalogue-md .dir .item {
  padding: 0.266667rem 0.4rem;
  text-align: center;
  font-size: 0.373333rem;
}
.catalogue-md .dir .item.active {
  background-color: #eee;
}
.catalogue-md .wrapper {
  position: fixed;
  bottom: 0;
  left: 2.48rem;
  top: 0.88rem;
  right: 0;
  padding: 0.426667rem;
  overflow-y: auto;
}
.catalogue-md .wrapper .item {
  margin-bottom: 0.426667rem;
  position: relative;
  display: block;
}
.catalogue-md .wrapper .item img {
  width: 100%;
  border-radius: 0.133333rem;
  display: block;
  font-size: 0;
}
.catalogue-md .wrapper .item .title {
  padding: 0 0.346667rem;
  bottom: 0.373333rem;
  height: 0.533333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  font-size: 0.32rem;
  position: absolute;
}
.catalogue-header .page-tabs {
  height: 1.466667rem;
}
.master-header {
  height: 2.933333rem;
  background: linear-gradient(180deg, #FF881A 0%, #F36A1C 100%);
  position: relative;
  padding-left: 3.2rem;
  padding-top: 1.333333rem;
  color: #fff;
  margin-bottom: 0.5rem;
}
.master-header .avatar {
  left: 0.426667rem;
  top: 0.933333rem;
  position: absolute;
}
.master-header .avatar img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}
.master-header .name {
  font-size: 0.48rem;
}
.master-header .sub {
  color: rgba(255, 255, 255, 0.7);
}
.page-sub-title {
  font-size: 0.373333rem;
  color: #000;
  margin-bottom: 0.133333rem;
  font-weight: bold;
}
.radius-ul-list li {
  position: relative;
  color: #666;
  padding: 0.106667rem 0;
  padding-left: 0.613333rem;
}
.radius-ul-list li:before {
  position: absolute;
  width: 0.133333rem;
  height: 0.133333rem;
  border-radius: 50%;
  top: 0.32rem;
  left: 0.266667rem;
  content: ' ';
  background-color: #C2C2C2;
}
.feedback-md .feedback-group .item {
  margin-top: 0.426667rem;
  display: flex;
  height: 3.2rem;
  padding: 0 0.8rem;
  color: #fff;
  background: linear-gradient(0deg, #53B824 12.5%, #81D219 88.33%);
  border-radius: 0.16rem;
  align-items: center;
}
.feedback-md .feedback-group .item .info {
  flex: 1;
}
.feedback-md .feedback-group .item .info .title {
  font-weight: bold;
  font-size: 0.48rem;
}
.feedback-md .feedback-group .item:last-child {
  background: linear-gradient(0deg, #2C91ED 12.5%, #63ABFF 87.5%);
}
.feedback-detail .comment-list {
  padding-bottom: 0.133333rem;
}
.feedback-detail .comment-list .info {
  border: none;
}
.feedback-detail .feedback-detail-title {
  margin-bottom: 0.426667rem;
  padding: 0.266667rem 0;
  font-size: 0.373333rem;
  color: #000000;
  font-weight: bold;
}
.service-md .service-index-map {
  height: 3.2rem;
}
.service-md .service-index-map img {
  width: 100%;
}
.service-md .maps-show {
  height: 9.333333rem;
}
.service-md .maps-show img {
  max-height: 9.333333rem;
  width: 100%;
}
.service-md .address-list {
  position: fixed;
  top: 10.56rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
.service-md .address-list .item {
  display: flex;
  align-items: center;
  padding: 0.213333rem 0.426667rem;
  border-bottom: 1px solid #DDDDDD;
  color: #666;
}
.service-md .address-list .item .img {
  width: 1.6rem;
  height: 1.6rem;
}
.service-md .address-list .item .img img {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}
.service-md .address-list .item .info {
  padding: 0 0.32rem;
  flex: 1;
}
.service-md .address-list .item .info .title {
  font-weight: bold;
  font-size: 0.373333rem;
  color: #000;
  margin-bottom: 0.106667rem;
}
.service-md .address-list .item .info .right {
  padding: 0 0.106667rem;
}
.star-md .star-list .item {
  padding: 0.533333rem 0.64rem;
  display: flex;
  position: relative;
  align-items: center;
}
.star-md .star-list .item .tag {
  position: absolute;
  left: 0.533333rem;
  top: 0.533333rem;
}
.star-md .star-list .item .avatar {
  width: 1.6rem;
  height: 1.6rem;
}
.star-md .star-list .item .avatar img {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}
.star-md .star-list .item .info {
  flex: 1;
  padding-left: 0.266667rem;
}
.star-md .star-list .item .title {
  color: #000;
  font-weight: bold;
  font-size: 0.373333rem;
}
.star-md .star-list .item .sub {
  color: #999;
}
.star-md .star-list .item .line {
  background-color: #eee;
  margin: 0.133333rem 0;
  height: 0.266667rem;
  position: relative;
}
.star-md .star-list .item .line .progress {
  height: 0.266667rem;
  left: 0;
  top: 0;
  background-color: #2DB553;
  position: relative;
}
.volunteer-md .page-grid-3 {
  padding: 0.426667rem 0.293333rem 0.266667rem;
}
.volunteer-md .page-grid-3 .item {
  padding: 0 0.133333rem 0.266667rem;
  display: block;
  float: left;
  width: 33.3333%;
}
.volunteer-md .page-grid-3 .item .wrapper {
  padding: 0.346667rem 0 0.346667rem 0.32rem;
  line-height: 0.64rem;
  color: #000;
  background: #EEEEEE;
  border-radius: 0.106667rem;
}
.volunteer-md .page-grid-3 .item .icon {
  vertical-align: top;
  margin-right: 0.133333rem;
}
.volunteer-md .page-grid-4 {
  padding: 0 0.32rem;
}
.volunteer-md .page-grid-4 .item {
  padding: 0 0.106667rem 0;
  display: block;
  float: left;
  width: 25%;
}
.volunteer-md .page-grid-4 .item .wrapper {
  background: #FFFFFF;
  box-shadow: 0 0.053333rem 0.16rem rgba(0, 0, 0, 0.1);
  border-radius: 0.106667rem;
  padding: 0.266667rem 0;
  text-align: center;
  color: #666;
}
.volunteer-md .page-grid-4 .item .wrapper div {
  color: #158A7E;
  font-size: 0.48rem;
}
