.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon-search {
  width: 0.4rem;
  height: 0.4rem;
  background: url('../images/icon/icon-search.svg') no-repeat;
  background-size: 0.4rem 0.4rem;
}
.icon-clear {
  width: 0.4rem;
  height: 0.4rem;
  background: url('../images/icon/icon-clear.svg') no-repeat;
  background-size: 0.4rem 0.4rem;
}
.icon-guide {
  width: 1.333333rem;
  height: 1.333333rem;
  background-size: 1.333333rem 1.333333rem;
}
.icon-favourite {
  width: 20px;
  height: 18px;
  background: url('../images/icon/icon-favourite.svg') no-repeat;
  background-size: 20px 18px;
}
.icon-like {
  width: 20px;
  height: 20px;
  background: url('../images/icon/icon-like.svg') no-repeat;
  background-size: 20px 20px;
}
.icon-time {
  width: 20px;
  height: 20px;
  background: url('../images/icon/icon-time.svg') no-repeat;
  background-size: 20px 20px;
}
.icon-success,
.icon-fail {
  width: 48px;
  height: 48px;
  background: url('../images/icon/icon-success.svg') no-repeat;
  background-size: 48px 48px;
}
.icon-fail {
  background: url('../images/icon/icon-fail.svg') no-repeat;
}
.icon-arrow-right {
  width: 18px;
  height: 18px;
  background: url('../images/icon/icon-arrow-right.svg') no-repeat;
  background-size: 18px 18px;
}
.icon-camera {
  width: 24px;
  height: 24px;
  background: url('../images/icon/icon-camera.svg') no-repeat;
  background-size: 24px 24px;
}
.icon-no-search {
  width: 48px;
  height: 48px;
  background: url('../images/icon/icon-no-search.svg') no-repeat;
  background-size: 48px 48px;
}
.icon-guide-1 {
  background-image: url('../images/icon/icon-guide-1.svg');
}
.icon-guide-2 {
  background-image: url('../images/icon/icon-guide-2.svg');
}
.icon-guide-3 {
  background-image: url('../images/icon/icon-guide-3.svg');
}
.icon-guide-4 {
  background-image: url('../images/icon/icon-guide-4.svg');
}
.icon-guide-5 {
  background-image: url('../images/icon/icon-guide-5.svg');
}
.icon-guide-6 {
  background-image: url('../images/icon/icon-guide-6.svg');
}
.icon-guide-7 {
  background-image: url('../images/icon/icon-guide-7.svg');
}
.icon-guide-8 {
  background-image: url('../images/icon/icon-guide-8.svg');
}
.icon-guide-9 {
  background-image: url('../images/icon/icon-guide-9.svg');
}
.icon-guide-10 {
  background-image: url('../images/icon/icon-guide-10.svg');
}
