.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon-search {
  width: 0.4rem;
  height: 0.4rem;
  background: url('../images/icon/icon-search.svg') no-repeat;
  background-size: 0.4rem 0.4rem;
}
.icon-clear {
  width: 0.4rem;
  height: 0.4rem;
  background: url('../images/icon/icon-clear.svg') no-repeat;
  background-size: 0.4rem 0.4rem;
}
.icon-guide {
  width: 1.333333rem;
  height: 1.333333rem;
  background-size: 1.333333rem 1.333333rem;
}
.icon-favourite {
  width: 0.533333rem;
  height: 0.48rem;
  background: url('../images/icon/icon-favourite.svg') no-repeat;
  background-size: 0.533333rem 0.48rem;
}
.icon-like {
  width: 0.533333rem;
  height: 0.533333rem;
  background: url('../images/icon/icon-like.svg') no-repeat;
  background-size: 0.533333rem 0.533333rem;
}
.icon-share {
  width: 0.64rem;
  height: 0.64rem;
  background: url('../images/icon/icon-share.svg') no-repeat;
  background-size: 0.64rem 0.64rem;
}
.icon-time {
  width: 0.533333rem;
  height: 0.533333rem;
  background: url('../images/icon/icon-time.svg') no-repeat;
  background-size: 0.533333rem 0.533333rem;
}
.icon-success,
.icon-fail {
  width: 1.28rem;
  height: 1.28rem;
  background: url('../images/icon/icon-success.svg') no-repeat;
  background-size: 1.28rem 1.28rem;
}
.icon-fail {
  background: url('../images/icon/icon-fail.svg') no-repeat;
}
.icon-arrow-right {
  width: 0.48rem;
  height: 0.48rem;
  background: url('../images/icon/icon-arrow-right.svg') no-repeat;
  background-size: 0.48rem 0.48rem;
}
.icon-arrow-right-gray {
  width: 0.48rem;
  height: 0.48rem;
  background: url('../images/icon/icon-arrow-right-gray.svg') no-repeat;
  background-size: 0.48rem 0.48rem;
}
.icon-camera {
  width: 0.64rem;
  height: 0.64rem;
  background: url('../images/icon/icon-camera.svg') no-repeat;
  background-size: 0.64rem 0.64rem;
}
.icon-no-search {
  width: 1.28rem;
  height: 1.28rem;
  background: url('../images/icon/icon-no-search.svg') no-repeat;
  background-size: 1.28rem 1.28rem;
}
.icon-feedback {
  width: 1.6rem;
  height: 1.6rem;
  background: url('../images/icon/icon-feedback.svg') no-repeat;
  background-size: 1.6rem 1.6rem;
}
.icon-comment {
  width: 0.533333rem;
  height: 0.533333rem;
  background: url('../images/icon/icon-comment.svg') no-repeat;
  background-size: 0.533333rem 0.533333rem;
}
.icon-survery {
  width: 1.6rem;
  height: 1.6rem;
  background: url('../images/icon/icon-survery.svg') no-repeat;
  background-size: 1.6rem 1.6rem;
}
.icon-prev {
  width: 0.64rem;
  height: 0.64rem;
  background: url('../images/icon/icon-prev.svg') no-repeat;
  background-size: 0.64rem 0.64rem;
}
.icon-next {
  width: 0.64rem;
  height: 0.64rem;
  background: url('../images/icon/icon-next.svg') no-repeat;
  background-size: 0.64rem 0.64rem;
}
.icon-arrow-down {
  width: 0.373333rem;
  height: 0.213333rem;
  background: url('../images/icon/icon-arrow-down.svg') no-repeat;
  background-size: 0.373333rem 0.213333rem;
}
.icon-rang {
  width: 0.453333rem;
  height: 0.72rem;
  background: url('../images/icon/icon-rang.svg') no-repeat;
  background-size: 0.453333rem 0.72rem;
  text-align: center;
  color: #fff;
}
.icon-activity {
  width: 1.2rem;
  height: 1.2rem;
  background: url('../images/icon/icon-activity.svg') no-repeat;
  background-size: 1.2rem 1.2rem;
}
.icon-house {
  width: 1.2rem;
  height: 1.2rem;
  background: url('../images/icon/icon-house.svg') no-repeat;
  background-size: 1.2rem 1.2rem;
}
.icon-people {
  width: 1.2rem;
  height: 1.2rem;
  background: url('../images/icon/icon-people.svg') no-repeat;
  background-size: 1.2rem 1.2rem;
}
.icon-my-comment {
  width: 0.64rem;
  height: 0.64rem;
  background: url('../images/icon/icon-my-comment.svg') no-repeat;
  background-size: 0.64rem 0.64rem;
}
.icon-shopping {
  width: 0.64rem;
  height: 0.64rem;
  background: url('../images/icon/icon-shopping.svg') no-repeat;
  background-size: 0.64rem 0.64rem;
}
.icon-my-feedback {
  width: 0.64rem;
  height: 0.64rem;
  background: url('../images/icon/icon-my-feedback.svg') no-repeat;
  background-size: 0.64rem 0.64rem;
}
.icon-about {
  width: 0.64rem;
  height: 0.64rem;
  background: url('../images/icon/icon-about.svg') no-repeat;
  background-size: 0.64rem 0.64rem;
}
.icon-avatar {
  width: 1.333333rem;
  height: 1.333333rem;
  background: url('../images/icon/icon-avatar.svg') no-repeat;
  background-size: 1.333333rem 1.333333rem;
}
.icon-guide-1 {
  background-image: url('../images/icon/icon-guide-1.svg');
}
.icon-guide-2 {
  background-image: url('../images/icon/icon-guide-2.svg');
}
.icon-guide-3 {
  background-image: url('../images/icon/icon-guide-3.svg');
}
.icon-guide-4 {
  background-image: url('../images/icon/icon-guide-4.svg');
}
.icon-guide-5 {
  background-image: url('../images/icon/icon-guide-5.svg');
}
.icon-guide-6 {
  background-image: url('../images/icon/icon-guide-6.svg');
}
.icon-guide-7 {
  background-image: url('../images/icon/icon-guide-7.svg');
}
.icon-guide-8 {
  background-image: url('../images/icon/icon-guide-8.svg');
}
.icon-guide-9 {
  background-image: url('../images/icon/icon-guide-9.svg');
}
.icon-guide-10 {
  background-image: url('../images/icon/icon-guide-10.svg');
}
.icon-nav {
  width: 0.64rem;
  height: 0.64rem;
  background-size: 0.64rem 0.64rem;
}
.icon-nav-1 {
  background-image: url('../images/icon/icon-nav-1.svg');
}
.icon-nav-2 {
  background-image: url('../images/icon/icon-nav-2.svg');
}
.icon-nav-3 {
  background-image: url('../images/icon/icon-nav-3.svg');
}
.icon-nav-4 {
  background-image: url('../images/icon/icon-nav-4.svg');
}
.icon-nav-5 {
  background-image: url('../images/icon/icon-nav-5.svg');
}
.icon-nav-6 {
  background-image: url('../images/icon/icon-nav-6.svg');
}
