<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>我的消息</title>
    <script src="../_assets/js/flexible.min.js"></script>
    <script src="../_assets/js/fastclick.js"></script>
    <script src="../_assets/js/base.js"></script>
    <script src="../_assets/js/vue.min.js"></script>
    <script src="../_assets/js/vant.js"></script>
    <script src="../_assets/js/components.js"></script>
    <link rel="stylesheet" href="../_assets/css/vant.css">
    <link rel="stylesheet" href="../_assets/css/base.css">
    <link rel="stylesheet" href="../_assets/css/icon.css">
</head>
<body>
    <div id="app">
        <tab-headers
            @on-change="tabChange"
            :datas="[{label:'全部',value: '1'},{label:'未读',value: '2'},{label:'已读',value: '3'}]">
        </tab-headers>
        <div class="message-list page-md-bg">
            <van-list
                v-model="loading"
                :finished="finished"
                :finished-text="null"
                @load="onLoad">
                <a href="#" class="item" v-for="(item, index) in list" :key="index">
                    <div class="title">{{ item.title }}</div>
                    <div class="date">{{ item.date }}</div>
                    <div class="tag" v-if="item.status === 10"></div>
                </a>
            </van-list>
        </div>
        <div class="loading-over" v-show="finished">
            已经全部加载完毕
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                list: [], // 列表
                loading: false, // 是否加载中
                finished: false, // 加载完成
            },
            methods: {
                tabChange(item) {
                    console.log(item)
                    this.loading = true
                    this.finished = false
                    this.list = []
                    this.onLoad()
                },
                onLoad() {
                    // 异步更新数据
                    // setTimeout 仅做示例，真实场景中一般为 ajax 请求
                    setTimeout(() => {
                        for (let i = 0; i < 10; i++) {
                            this.list.push({
                                title: '消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息 ...',
                                date: '2020年9月20日 09:50',
                                status: 10
                            },
                            {
                                title: '消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息 ...',
                                date: '2020年9月20日 09:50',
                                status: 20
                            })
                        }

                        // 加载状态结束
                        this.loading = false;
                        // 数据全部加载完成
                        if (this.list.length >= 40) {
                        this.finished = true;
                        }
                    }, 500);
                },
            },
        })
    </script>
</body>
</html>